body {
  margin: 0 !important;
  min-height: 100vh !important;
  background: linear-gradient(to right, #ced4da, #adb5bd);
}

.nav-div {
  margin-left: auto;
}

.nav-div a {
  text-decoration: none;
  font-size: larger;
  color: #212529;
}

.main {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 28.8px);
}

.main-div {
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  flex-direction: column;
}

.main-div form {
  box-shadow: 1px 1px 10px 1px #6c757d;
  border-radius: 2%;
}
